/*Css cho khung đăng ký thành viên*/
.head{padding:10px;color:#0026ff;border-bottom:1px solid #0026ff;font-size:18px}
.ghichu{font-size:14px;color:red;padding-top:10px;padding-bottom:15px}
.FormThemMoi {padding:15px;border:solid 1px #0026ff}
.thongTin{overflow:hidden;padding-bottom:10px}
.tenTruong {
    float: left;
    width: 18%;
    font: 18px bold;
}
.cNhap{float:right;width:75%}

.FormThemMoi input[type = text],
.FormThemMoi input[type = password]{border:solid 1px #dfdfdf; padding:7px;width:40%}
.FormThemMoi .btnDangKy{border:0;background:#0026ff;cursor:pointer;padding:15px;color:#dfdfdf;font-weight:bold;font-size:16px;display:inline-block}
